.activity-log {
    margin: auto;
    padding: 20px;
}

.delete-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.delete-button:hover {
    background-color: darkred;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.log-section {
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2rem 3rem var(--color-light);
    background-color: white;
}

.log-item {
    border-radius: 5px;
}