.booking-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.booking-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.booking-form select option {
    color: black;
    /* Or any color that contrasts with your background */
}