.booking-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.booking-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.booking-form select option {
    color: black;
    /* Or any color that contrasts with your background */
}

.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

td:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tippy-box[data-theme~='custom'] {
    background-color: #333;
    color: white;
    border-radius: 4px;
    padding: 10px;
    max-width: 500px;
}