.bookings-container {
    padding: 10px;
}

.bookings-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.bookings-table th,
.bookings-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.booking-row:hover {
    cursor: pointer;
    background-color: #ffabab;
}

.expanded-details {
    padding: 10px;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.2s ease-out;
}

.expanded-details.visible {
    transform: scaleY(1);
}

.status-dropdown {
    border-radius: 10px;
}

.p-inputtext {
    border: none;
    border-radius: 10px;
}

.status-dropdown.status-accepted {
    background-color: green;
    color: white;
}

.status-dropdown.status-pending {
    background-color: rgb(255, 219, 16);
    color: white;
}

.status-dropdown.status-declined {
    color: white;
    background-color: red;
}

.status-accepted .p-dropdown-label {
    background-color: green;
    color: white;
}

.status-pending .p-dropdown-label {
    background-color: rgb(255, 219, 16);
    color: white;
}

.status-declined .p-dropdown-label {
    color: white;
    background-color: red;
}