.truncated-comment {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20ch;
    width: 100%;
    display: block;
}

.full-comment {
    width: 100%;
    display: block;
    word-break: break-all;
}

.bookings-table .p-datatable-tbody>tr:nth-child(even) {
    background-color: #9fffe2;
}

.bookings-table {
    user-select: text;
}

.button-clicked .p-datatable-tbody>tr>td:not(:last-child) {
    vertical-align: top;
}

.chevron-button {
    background: none;
    border: none;
    padding: 0;
}

.p-button:focus {
    box-shadow: 0 0 0 0.1rem #a6d5fa;
}