.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-item {
    float: left;
}

.navbar-item-right {
    float: right;
}

.navbar-link {
    background-color: #333;
    cursor: pointer;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-link:hover {
    background-color: #111;
}